<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student's Page</title>
    <style>
        body{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>Welcome authorized student</h1>
    <img src="https://as2.ftcdn.net/v2/jpg/02/19/98/93/1000_F_219989372_K1pBzmbiGfoMd6X5JJd5SYOVIBzSUN8f.jpg"
    height="100px" width="100px" alt="user"><hr>
    <h3>What do u plan to do today?Here are your details: </h3>
    <p>University RollNo: <%=data.stdR1[0].studentid%></p>
    <p>First Name: <%=data.stdR1[0].firstname%></p>
    <p>Last Name: <%=data.stdR1[0].lastname%></p>
    <p>Gender: <%=data.stdR1[0].gender%></p>
    <p>University EmailId: <%=data.stdR1[0].email%></p>
    <p>Address: <%=data.stdR1[0].address%></p>
    Contact Number:
    <%for(let x of data.stdR1){%>
        <%=x.contactno%> |
    <%}%>
    <br><br><br>
    <a href="http://localhost:8080/nsut/student">Logout</a><br><br>
    <h2>Add a new contact number</h2>
    <form method="post" action="/std/contact/<%=data.stdR1[0].studentid%>">
        +91&nbsp;<input type="text" name="contact" placeholder="Write your 10 digit number here">
        <button>Submit</button>
    </form>
</body>
</html>
